{% extends "users-base.html" %}

{% block content %}

<div class="column">
    <div class="card box">
      
            <p class="title">Philippine Red Cross - Cavite Chapter</p>

        <div class="card box">
            <p>
            
                <b class="title">General Information</b><br><br>

                The Philippine Red Cross is a non-profit, donor-funded, volunteer, humanitarian organization. These are our core values:<br><br>

                - We exist to bring timely, effective and compassionate assistance to the most vulnerable without consideration of nationality, race, religion, gender, social status or political affiliation.<br><br>

                - We strengthen our capability to assist the most vulnerable by expanding our donor base and by increasing the number of our well-trained volunteers.<br><br>

                - We honor our selves, our donors and volunteers by managing and utilizing our recourses effectively, efficiently, with integrity and transparency.<br><br>

                - Our work ethic and encourages and rewards teamwork, excellent performance and the achievement of goals.<br><br>

                - We value our staff and volunteer and encourage them to grow their full potential in the organization.<br><br>

                - We are a stalwart member of the International Red Cross/Red Crescent Movement and advocate staunchly its Fundamental Principles and the International Humanitarian law.<br><br>

                - We cooperate with our sister National Societies, Government and other organizations engaged in humanitarian services and complement each other's competencies thereby maximizing the delivery of assistance to the vulnerable.<br><br>

                - We are Filipino and, by the consistent excellence of our conduct, performance and achievements, we aspire to be a worthy representative of the best of Filipino values and skills<br><br>

                <b>About</b><br><br>
                <p>
                inspiRED. prepaRED. deliveRED. assuRED.
                </p><br><br>

                <b>Mission</b><br><br>
                <p>
                    The Philippine Red Cross brings timely, effective and compassionate humanitarian assistance for the most vulnerable without consideration of nationality, race, creed, gender, social status or political belief.
                </p>
            </p>
        </div>
        <div class="card box">
            <p>
                <b class="title">Contact Information</b>
                <p><br>
                    <p class="is-size-5  has-text-centered has-text-weight-bold">PHILIPPINE RED CROSS - CAVITE CHAPTER</p><br>
                    <p>
                        <span class="icon">
                             <i class="fa fa-map-marker"></i>
                        </span>
                        Samonte Park, San Roque Cavite City<br>

                         <span class="icon">
                             <i class="fa fa-phone"></i>
                        </span>
                        (046) 431-0562 &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp (046) 683-4614<br>

                         <span class="icon">
                             <i class="fa fa-mobile-phone"></i>
                        </span>
                        0935-776-1016 &nbsp&nbsp&nbsp Ms. Marie<br>

                        <span class="icon">
                             <i class="fa fa-comment-o"></i>
                        </span>
                        @BatangRedCross
                    </p><br>
                </p>

               
                <p><br>
                    <p class="is-size-5  has-text-centered has-text-weight-bold">PHILIPPINE RED CROSS TOWER<br>
                        National Headquarters
                    </p><br>
                    <p>
                        <span class="icon">
                             <i class="fa fa-map-marker"></i>
                        </span>
                        37 EDSA corner Boni Avenue, Mandaluyong City 1550<br>
                                              
                         <span class="icon">
                             <i class="fa fa-globe"></i>
                        </span>
                        <a href="https://www.redcross.org.ph/">
                            www.redcross.org.ph<br>
                        </a>

                         <span class="icon">
                             <i class="fa fa-phone"></i>
                        </span>
                        (+63 2) 790 2300<br>

                         <span class="icon">
                             <i class="fa fa-envelope-o"></i>
                        </span>
                        nbs.recruitment@redcross.org.ph<br>

                        <span class="icon">
                             <i class="fa fa-facebook-square"></i>
                        </span>
                         <a href="https://www.facebook.com/phredcross/">
                             phredcross<br>
                        </a>

                        <span class="icon">
                             <i class="fa fa-twitter"></i>
                        </span>
                        <a href="https://twitter.com/philredcross">
                            @philredcross
                        </a><br>

                        <span class="icon">
                             <i class="fa fa-instagram"></i>
                        </span>
                        <a href="http://instagram.com/philredcross">
                            @philredcross<br>    
                        </a>
                        

                    </p><br>
                </p>
            </p>
        </div>
      
    </div>
</div>
{% endblock %}