<tbody>
	<tr class="table-row">
		<td>{{ hospitals.name }}</td>
		<td>{{ hospitals.address }}</td>
		<td>{{ hospitals.email_address }}</td>
		<td>{{ hospitals.telephone_number }}</td>
		<td>
			<div class="dropdown is-hoverable">
				<div class="dropdown-trigger">
					<button class="button">
						<span>Actions</span>
						<span class="icon">
							<i class="fa fa-angle-down"></i>
						</span>
					</button>
				</div>
				<div class="dropdown-menu">
					<div class="dropdown-content">
						<a class="dropdown-item" href="{{url_for('backend.hospitals_show', hospitals_id=hospitals.id)}}"><span class="icon is-small"><i class="fa fa-eye"></i></span>&nbsp View</a>
						<a class="dropdown-item" href="{{url_for('backend.hospitals_edit', hospitals_id=hospitals.id)}}"><span class="icon is-small"><i class="fa fa-edit"></i></span>&nbsp Edit</a>
						<a class="dropdown-item confirm-delete" href=""><span class="icon is-small"><i class="fa fa-trash"></i></span>&nbsp Delete</a>
					</div>
				</div>
			</div>

		</td>
	</tr>	
</tbody>