{% extends "admin_hospital-base.html" %}

{% block content %}

<div class="column">
    <div class="card box">
        <div>
            <p class="title">Philippine Red Cross - Cavite Chapter</p>
        </div><br>

        <div class="card box">
            <p>
                At any given time, somebody, somewhere needs a blood transfusion. Blood is a true humantitarian gift which can only be given by one human being to another. Whether you are a first timer or regular donor, your donation could mean saving the life of somebody today.<br><br>

                <b>A BLOOD DONOR MUST</b>
                <p>
                    - Be in good health<br>
                    - Be between 16-65 years old (Donors 16-17 years old need parental consent)<br>
                    - Weigh at least 110 pounds<br>
                    - Pass the physical and history screening<br>
                </p>
            </p>
        </div>
        <div class="card box">
            <p>
                <b class="title">Donation Process</b>
                <p><br>
                    <b>Before donating...</b>
                    <p>
                        - Have enough rest and sleep, at least 5-6 hours.<br>
                        - Disclose any physical symptom such as coughs, colds, fever, rashes or any open wounds.<br>
                        - Be honest about existing medical conditions, previous illnesses or medications taken.<br>
                        - Disclose any foreign travel or travel to provinces within the past year.<br>
                        - Reveal any tattoo or ear piercing (must be 1 year from time of donation).<br>
                    </p><br>

                    <b>Donating Process</b>
                    <p>
                        Step 1: Register and have your weight taken.<br>
                        Step 2: Complete the Donor History Questionnaire.<br>
                        Step 3: Be interviewed and have your blood type and hemoglobin status checked.<br>
                        Step 4: A physician will check your blood pressue and give you a physical exam<br>
                        Step 5: Actual blood letting donation lasts 10-15 minutes.<br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp You will be required to remain lying down for another 10 minutes after donating.<br>
                    </b><br>

                    <b>After donating...</b>
                    <p>
                        - Drink plenty of fluids like water or juice.<br>
                        - Refrain from stooping down.<br>
                        - Refrain from stenuous activities like lifting heavy objects, exercising, operating heavy machinery.<br>
                        - Avoid using the punctured arm in lifting heavy objects.<br>
                        - Apply pressure on the punctured site and lift the arm in case the site is still bleeding.<br>
                        - If discoloration or swelling develops on the punctured site, apply cold compress for the first 24 hours followed by warm compress for the next 24 hours.<br>
                        - If you feel dizzy or nauseous, lie down with your feet elevated. Loosen tight cloting and drink fluids. It should pass after a few minutes.<br>
                    </b>
                </p>
            </p>
        </div>
        <div class="card box">
            <p>
                <b class="title">FAQ's</b>
                <p><br>
                    <b>What are the benefits of donating blood?</b>
                    <p>
                        Blood donors aren't called heroes for nothing. The number one benefit for donating blood is knowing your blood will be instrumental to saving someone's life. Donating also allows you to know your blood type and get examined by a doctor.
                    </p><br>

                    <b>Is donating blood safe?</b>
                    <p>
                        Donating blood is generally safe, provided the donor is healthy and has no pre-existing medical condition which might compromise his ability to donate. Hence, complete honesty with your medical history is a must!
                    </p><br>

                    <b>How often can I donate?</b>
                    <p>
                        For conventional donation, you can safely donate every three months.
                    </p><br>

                    <b>Will I be able to return to work after donating?</b>
                    <p>
                        Yes, however people whose work involves heavy physical exertion, driving, flying, or operating heavy or dangerous machinery may need to schedule their donation on their off/rest days.
                    </p><br>

                    <b>What happens to my blood after donation?</b>
                    <p>
                        All blood units are processed in the laboratory and tested for blood transmissible diseases HIV, Hepatitis B & C, Malaria and Syphilis. It is stored until dispensed to patients requesting for blood.
                    </p><br>

                    <b>What should I do if I am deferred?</b>
                    <p>
                        You will be advised whether your deferral is temporary or permanent and when you might try again. For the mean time, you can invite your friends to participate.
                    </p>
                </p>
            </p>
        </div>
        <div class="card box">
            <p>
                <b class="title">How do I request blood from a Red Cross Blood Service Facility?</b>
                <p><br>
                    1. Get a blood request form from the hospital where the patient is admitted, with the following details:<br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Patient's full name<br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Age, Sex, Status<br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Blood type, Rh group<br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Blood Component<br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Amount/unit needed<br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Diagnosis/Indication for transfusion<br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Printed name with signature of the attending physician<br>
                    2. Bring the blood request form to the nearest Red Cross Blood Service Facility.<br>
                    3. Donated blood is in itself a gift, however, a corresponding blood processing fee is collected to cover for costs of testing, processing and storage to ensure the safety of blood products.
                </p>
            </p>
        </div>
    </div>
</div>
{% endblock %}