{% extends "users-base.html" %}

{% block content %}
	<style>

h1 {

	margin-left: 0px;
	width: 230px;
	height: 42px;


	}
h2 {

	margin-left: 0px;
	width: 230px;
	height: 42px;


	}


</style>


	<div class="column">
		<div class="card box">
			<div class="columns">
				<div class="column is-3">
					<figure class="image is-132x132">
			            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP-bUtMrovoWkw733UD5sQCF6aaw5VCug-B8Wi3CCvAtaBpS8JMA">
			        </figure>
			        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			        <button class="button is-info">Change Picture</button>

			<h1>
						<div class="column">
					<div class="card">
						<div class="tabs is-boxed">
				
						  <ul>
						      <a href="{{ url_for('users.setting', user=user.id) }}">
						        <span class="icon is-small"><i class="fa fa-user" aria-hidden="true"></i></span>
						        <span>Account Settings</span>
						      </a>
						    </li>
						  </ul>
						</div>
					</div>
				</div>
			</h1>

			<h2>	
						<div class="column">
					<div class="card">
						<div class="tabs is-boxed">
						  <ul>
						  
						      <a href="{{ url_for('users.setting_settings_password', user=user.id) }}">
						        <span class="icon is-small"><i class="fa fa-user" aria-hidden="true"></i></span>
						        <span>Password Settings</span>
						      </a>
						   
						  </ul>
						</div>
					</div>
				</div>
			</h2>

						<div class="column">
					<div class="card">
						<div class="tabs is-boxed">
						  <ul>
					
						      <a href="{{ url_for('users.setting_settings_other', user=user.id) }}">
						        <span class="icon is-small"><i class="fa fa-user" aria-hidden="true"></i></span>
						        <span>Other Settings</span>
						      </a>
						    </li>
						  </ul>
						</div>
					</div>
				</div>




				</div>
				<div class="column is-9">
					<br><br><br>
					<p  class="is-size-3 has-text-weight-bold">
						 


				

			<div class="column">
				<div class="columns">
					<div class="column">
						<div class="card box">
							<form action ="" method = "POST">
								{{form.hidden_tag()}}
								<div class="card-header">
									<p class="card-header-title">Edit Password</p>
								</div>
								<div class="card-content">
									<div class="field">
										{{form.password.label(class='label')}}
										<div class="control">
											{{form.password(class='input')}}
										</div>
									</div>
									<div class="field">
										<label class="label">New Password</label>
										<div class="control">
											<input class="input" type="password">
										</div>
									</div>
									<div class="field">
										<label class="label">Confirm Password</label>
										<div class="control">
											<input class="input" type="password">
										</div>
									</div>
									<hr>
									{{form.submit(class='button is-primary')}}
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}