{% extends "backend-base.html" %}

{% block content %}
	<style>
	.ex3{
	height: 420px;
	overflow: auto;
	}

	.ex2{
		height: 420px;
		overflow: auto;
	}

	.pic{
		margin-left: 800px;
	}

	</style>

	<div class="columns is-gapless">

		<!-- left side bar -->
		<div class="column is-3">
			<div class="card">
			  <header class="card-header">
			  	<a href="#" class="card-header-icon" aria-label="more options">
			      <span class="icon">
			        <i class="fa fa-gear" aria-hidden="true"></i>
			      </span>
			    </a>
			    <p class="card-header-title">
			      Contacts
			    </p>
			    <a href="#" class="card-header-icon" aria-label="more options">
			      <span class="icon">
			        <i class="fa fa-edit" aria-hidden="true"></i>
			      </span>
			    </a>
			  </header>
			  <div class="card-content">
			    <div class="field has-addons">
					<div class="control">
					    <input class="input is-small is-fullwidth" type="text" placeholder="Search">
					</div>
				  	<div class="control">
				    	<a class="button is-info is-small">
				      	Search
				    	</a>
				  	</div>
				</div>
			  </div>
			  	<div class="ex3">
			  		<ul class="menu-list">
				    <li>
			  		  <a class="has-text-weight-bold" href="#">
			  			<span class="icon is-large" style=" vertical-align: middle;">
				        	<img src="images/pic.png">
				        </span>
			    	  	TEAM ALPHA
			    	  </a>				  								
					</li>
				    <li>
				       <a class="has-text-weight-bold" href="#">
				    	<span class="icon is-large" style=" vertical-align: middle;">
				        	<img src="images/pic.png">
				        </span>
			    	  	TEAM ALPHA
			    	  </a>
				    </li>
				    <li>
				    	<a class="has-text-weight-bold" href="#">
				    	<span class="icon is-large" style=" vertical-align: middle;">
				        	<img src="images/pic.png">
				        </span>
			    	  	TEAM ALPHA
			    	  </a>
				    </li>

				     <li>
				    	<a class="has-text-weight-bold" href="#">
				    	<span class="icon is-large" style=" vertical-align: middle;">
				        	<img src="images/pic.png">
				        </span>
			    	  	TEAM ALPHA
			    	  </a>
				    </li>
				  
				   	 <li>
				    	<a class="has-text-weight-bold" href="#">
				    	<span class="icon is-large" style=" vertical-align: middle;">
				        	<img src="images/pic.png">
				        </span>
			    	  	TEAM ALPHA
			    	  </a>
				   	</li>
				    <li>
				    	<a class="has-text-weight-bold" href="#">
				    	<span class="icon is-large" style=" vertical-align: middle;">
				        	<img src="images/pic.png">
				        </span>
			    	  	TEAM ALPHA</a>
			    	</li>

			    	<li>
				    	<a class="has-text-weight-bold" href="#">
				    	<span class="icon is-large" style=" vertical-align: middle;">
				        	<img src="images/pic.png">
				        </span>
			    	  	TEAM ALPHA
			    	  </a>
				   	</li>
				    <li>
				    	<a class="has-text-weight-bold" href="#">
				    	<span class="icon is-large" style=" vertical-align: middle;">
				        	<img src="images/pic.png">
				        </span>
			    	  	TEAM ALPHA</a>
			    	</li>
			    	<li>
				    	<a class="has-text-weight-bold" href="#">
				    	<span class="icon is-large" style=" vertical-align: middle;">
				        	<img src="images/pic.png">
				        </span>
			    	  	TEAM ALPHA
			    	  </a>
				   	</li>
				    <li>
				    	<a class="has-text-weight-bold" href="#">
				    	<span class="icon is-large" style=" vertical-align: middle;">
				        	<img src="images/pic.png">
				        </span>
			    	  	TEAM ALPHA</a>
			    	</li>
				  </ul>
			  	</div>
				  
					
			</div>

		</div>

		<!-- navbar -->
		<div class="column is-9">
			<div class="card has-text-centerd">
			  <header class="card-header">
			    <p class="card-header-title has-text-centered">
			     TEAM ALPHA
			    </p>
			  </header>
			</div>

			<!--	message body -->
			<div class="columns is is-gapless">
				<div class="column is-8">
					<div class="card">
					  <div class="card-content">
					  	<div class="ex2">
					  		 <div class="notification is-light">
					    	<span class="icon is-large" style="vertical-align: middle;">
					        	<img src="images/pic.png">
					        </span>
				    	  	Good day!
					     </div>

					     <div class="notification is-light">
					     	<div>
					     		<span class="icon is-large" style="vertical-align: middle;">
					        	<img src="images/pic.png" class="pic">
					        </span>
				    	  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				    	  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				    	  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				    	  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				    	  	Good day!
					     	</div>
					    	
					     </div>

					      <div class="notification is-light">
					    	<span class="icon is-large" style="vertical-align: middle;">
					        	<img src="images/pic.png">
					        </span>
				    	  	Good day!
					     </div>

					     <div class="notification is-light">
					    	<span class="icon is-large" style="vertical-align: middle;">
					        	<img src="images/pic.png" class="pic">
					        </span>
				    	  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				    	  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				    	  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				    	  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				    	  	Good day!
					     </div>

					      <div class="notification is-light">
					    	<span class="icon is-large" style="vertical-align: middle;">
					        	<img src="images/pic.png">
					        </span>
				    	  	Good day!
					     </div>
					  	</div>
					     <div class="field has-addons">
							  <p class="control is-expanded">
							    <input class="input" type="text" placeholder="Type a message">
							  </p>
							  <p class="control">
							    <a class="button is-info">
							      Send
							    </a>
							  </p>
						  </div>
					  </div>
					</div>
				</div>

				

				<!-- right sidebar -->
				<div class="column">
					 <div class="card">
					  <header class="card-header">
					    <p class="card-header-title">
					      <span class="image is-64x64">
					        <img src="images/pic.png">
					      </span>
					       TEAM ALPHA
					    </p>
					  
					  </header>
					  <div class="card-content">
					    <div class="content">
					      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
					      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
					      <br>
					     
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}