<tbody>
	<tr class="table-row">
		<td>{{ phlebotomist.first_name }} {{ phlebotomist.surname }}</td>
		<td>{{ phlebotomist.email_address }}</td>
		<td>{{ phlebotomist.zip_code }} {{ phlebotomist.house_no }} {{ phlebotomist.street }} {{ phlebotomist.barangay }} {{ phlebotomist.town_municipality }} {{ phlebotomist.province_city }}</td>
		<td>
			<div class="dropdown is-hoverable">
				<div class="dropdown-trigger">
					<button class="button">
						<span>Actions</span>
						<span class="icon">
							<i class="fa fa-angle-down"></i>
						</span>
					</button>
				</div>
				<div class="dropdown-menu">
					<div class="dropdown-content">
						<a class="dropdown-item" href="{{url_for('backend.phlebotomist_show', phlebotomist_id=phlebotomist.id)}}"><span class="icon is-small">
						<i class="fa fa-eye"></i></span>&nbsp View</a>
						<a class="dropdown-item" href="{{url_for('backend.phlebotomist_edit', phlebotomist_id=phlebotomist.id)}}"><span class="icon is-small">
						<i class="fa fa-edit"></i></span>&nbsp Edit</a>
						<a class="dropdown-item confirm-delete" href=""><span class="icon is-small"> <i class="fa fa-trash"></i> </span>&nbsp Delete</a>
					</div>
				</div>
			</div>

		</td>
	</tr>	
</tbody>